main {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 20px;
  padding: 20px;
  position: relative;
}

footer p {
  color: #fff;
}
@media screen and (min-width: 1800px) {
  .container {
    margin-left: 50px;
  }
  h2,
  h3,
  p,
  li {
    color: #333;
    line-height: 1.6;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 2em;
    margin-bottom: 10px;
  }

  p {
    font-size: 2em;
    margin-bottom: 20px;
  }

  ol li {
    font-size: 2em;
    margin-bottom: 10px;
  }
  ul li {
    font-size: 1em;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 2500px) {
  .container {
    margin-left: 100px;
  }
  h2,
  h3,
  p,
  li {
    color: #333;
    line-height: 1.6;
  }

  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 3em;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }

  p {
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  ol li {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  ul li {
    font-size: 1em;
    margin-bottom: 10px;
  }
}
